include ../mixins/sub-menu.pug

header.header
  .container 
    .row.align-items-center
      .col-3 
        .inner-logo 
          a(href="/")
            img(src="/images/logo.svg", alt="Logo") 
      .col-5 
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khoá..."
              class="form-group"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary mb-3"
            ) Tìm
      .col-4 
        .inner-menu 
          ul 
            li 
              a(href="/") Trang Chủ
            li(class="sub-menu")
              -const patchProduct = "/products"
              a(href=patchProduct) Sản Phẩm
              +sub-menu(layoutProductsCategogy,patchProduct)  

            li 
              a(href="/cart" class="fa-solid fa-cart-arrow-down" ) (#{miniCart ? miniCart.totalQuantity : 0})
                //- i.fa-solid.fa-cart-arrow-down  (#{miniCart ? miniCart.totalQuantity : 0}) 
            if(user)
              li 
                a(href="/chat") Chat
              li 
                 b Xin Chào:
                  a(href="/user/info")  #{user.fullname}
              li 
                a(href="/user/logout") Đăng Xuất 
            else 
              li 
                a(href="/user/login") Đăng Nhập
              li 
                a(href="/user/register") Đăng Ký