.row 
  .col-12
    a(
      class="btn btn-primary m-1"
      href="/users/not-friend"
    ) Danh Sách Người Dùng 
    a(
      class="btn btn-primary m-1"
      href="/users/friends"
    ) Danh Sách Bạn Bè
    a(
      class="btn btn-primary m-1"
      href="/users/request"
    ) Lời Mời Đã Gửi 
    a(
      class="btn btn-primary m-1"
      href="/users/accept"
    ) Lời Mời Kết Bạn